<server description="Sample Liberty server">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>mpHealth-4.0</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9090" />
    <variable name="https.port" defaultValue="9453" />

    <httpEndpoint host="*" httpPort="${http.port}"
        httpsPort="${https.port}" id="defaultHttpEndpoint" />

    <webApplication location="guide-kubernetes-intro-system.war" contextRoot="/" />
</server>
